# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.log

# Virtual Environments
venv/
env/
ENV/
.venv/
.env/

# Django Stuff
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.mo

# VSCode & IDEs
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db
